<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <%= link_to image_tag("kch-logo-color", class:"kch-icon"), root_path %>
    <ul class='lists-left'>
      <li class='input-box'><%= search_form_for(@search, url: articles_path, class: "search-form") do |f| %>
        <%= f.search_field :title_or_user_nickname_cont_all, placeholder: '검색', class:'input-box' %>
        <%= f.button type: "submit", class:"mini-send-btn", style:'border-style: none; margin: 0;' do %>
          <i class="fas fa-search" style="color: #fff;"></i>
        <% end %>
      <% end %>
      </li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li class="header-icons locale-icon">
          <% if I18n.locale.to_s == "ko" %>
            <%= link_to('日本語', locale: 'ja') %>
          <% else %>
            <%= link_to('한국어', locale: 'ko') %>
          <% end %>
       </li>
        <li class="header-icons message-icon"><%= link_to rooms_path do %>
          <i class="fas fa-envelope fa-2x envelope" style="color: #44281e"></i>
          <i class="font-awesome-envelope"></i>
          <% end %></li>
        <li class="header-icons notification-icon"><%= link_to notifications_path do %> <%#= 通知機能へのリンク %>
              <i class="fas fa-bell fa-2x" style="color: #44281e" id="notifications"></i>
              <i class="font-awesome-bell"></i>
            <% end %></li>
        <li class="header-icons"><%= link_to user_path(current_user), class:"user-nickname" do%>
              제 페이지 <i class="fas fa-user fa-2x"></i><i class="font-awesome-user"></i>
            <% end %></li>
      <% end %>
    </ul>
  </div>
</header>