<div class="article-box">
  <%= link_to article_path(article.id) do %>
    <%= image_tag article.image, class: "item-img" %>
    <div class="article-body">
      <h3 class="article-title">
        <%= article.title %>
      </h3>
    </div>
  <% end %>
  <div class="article-body">
    <div class="article-user">
      <%= link_to "by " + article.user.nickname, user_path(article.user_id) %>
    </div>
    <div class="created-time">
      <%= time_ago_in_words(article.created_at) %>前
    </div>
  </div>
</div>