<% unless user_signed_in? %>
  <%= render "shared/logout_index" %>
<% else %>
  <%= render "shared/header" %>
  <%= render "shared/post-bar" %>
  <div class='main'>
    <%= render "shared/side-bar" %>
    <div class="main-bar">
      <% if @search_articles_result.present? %>
        <%= render partial:"article", collection: @search_articles_result, locals: {article: @article} %>
      <% else %>
        <%= render partial:"article", collection: @articles, locals: {article: @article} %>
      <% end %>
    </div>
  </div>
<% end %>
