<%= render "shared/header" %>
<div class='main'>
  <% unless user_signed_in? %>
    <%= render "shared/logout_index" %>
    <%= render "shared/footer" %>
  <% else %>
  <%= render "shared/post-bar" %>
  <%= render "shared/side-bar" %>
  <div class="main-bar">
    <% if @search_articles_result.present? %>
     <%= render partial:"article", collection: @search_articles_result, locals: {article: @article} %>
    <% else %>
      <%= render partial:"article", collection: @articles, locals: {article: @article} %>
    <% end %>
  </div>
  <% end %>
</div>
