<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model:@article, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 画像の投稿 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        投稿画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /画像の投稿 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        記事タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          記事の本文
          <span class="indispensable">必須</span>
        </div>
        <%= f.rich_text_area :text, class:"items-text", id:"item-info", placeholder:"記事の本文を記述（必須 1,000文字まで）①調味料を混ぜ合わせる  ②鍋で肉を炒める  ③出汁スープを入れる  等" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          素材・材料
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :ingredients, class:"items-text", id:"item-info", placeholder:"材料・素材・参考テキストの紹介欄（必須 1,000文字まで）例）・キムチ：100g、コチュジャン：大さじ2、ごま油：小さじ1、粉唐辛子：小さじ1、ダシダ：小さじ1/2  等" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          コツやポイント
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :trick, class:"items-text", id:"item-info", placeholder:"コツやポイントの説明（必須 1,000文字まで）例）キムチの残り汁を入れるとうま味UP！  生地は最低でも3時間冷蔵庫で寝かせましょう！  等" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:plaza_id, Plaza.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>
    <%# /商品の詳細 %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </footer>
</div>