<%= render "shared/header" %>
<div class="post-bar">
  <div class="link-post-btn">
    <%= link_to '投稿する', new_article_path, class: "post-btn"%>
  </div>
  <div class="edit-bar">
    <% if current_user.id == @article.user_id %>
      <%= link_to "記事の編集", edit_article_path, class: "edit-btn" %>
      <%= link_to "記事の削除", article_path, method: :delete, class:"destroy-btn" %>
    <% end %>
  </div>
</div>

<%# 記事本文 %>
<div class="show-containor">
  <div class="article-show">
    <div class="article-upper-content">
      <div class="title-box">
        <h2 class="name"><%= @article.title %></h2>
        <div class="contributor"> by <%= link_to @article.user.nickname, user_path(@article.user_id), class: "nickname-link" %></div>
      </div>
      <% if @article.youtube_url.present? %>
        <div class="item-img-content">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @article.youtube_url[32..42]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <% elsif @article.image.present? %>
        <div class="item-img-content">
          <%= image_tag @article.image ,class:"article-box-img" %>
        </div>
      <% else %>
        <%= image_tag("dammy-cover.png", class: "article-box-img") %> 
      <% end %>
    </div>
    <div class="tag-area">
      <% if @tags.present? %>
      <ul class="article-tag">
        <li class="tag-name">
          <% @article.tags.each do |tag| %>
          #<%=tag.name%>
          <%end%>
        </li>
      </ul>
      <% else %> #タグはついていません
      <% end %>
    </div>

    <% if current_user.already_liked?(@article) %>
      <%= button_to 'いいねを取り消す', article_like_path(@article), method: :delete %>：<%= @article.likes.count %>
    <% else %>
      <%= button_to 'いいね', article_likes_path(@article) %>：<%= @article.likes.count %>
    <% end %>

    <div class="article-desc">
      <div class="content-header">
        素材・材料・参考資料など
      </div>
      <div class="content-area">
        <%= @article.ingredients %>
      </div>
      <div class="content-header">
        投稿記事本文
      </div>
      <div class="content-area">
        <%= @article.text %>
      </div>
      <div class="content-header">
        コツ・ポイント等
      </div>
      <div class="content-area">
        <%= @article.trick %>
      </div>
      <div class="option">
        <div class="favorite-btn">
          <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
          <span>お気に入り 0</span>
        </div>
      </div>
    </div>
  </div>
  <%# /記事本文 %>
  
  <div class="comment-box">
    <h3 class="comments-title">
      コメント一覧
    </h3>
    <div class="comments-index">
      <%= render partial:"comments", locals: {comment: @comment} %>
    </div>
    <div class="form-box">
      <% if user_signed_in? %>
        <%= form_with model: [@article, @comment], local: true do |f| %>
          <% f.label :comment, 'コメントの送信' %>
          <%= f.text_field :comment, class:"comment-text" %>
          <%= f.submit "コメントする", class: "comment-btn" %>
          <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="link-boxes">
  <%= link_to "「#{@article.plaza.name}」 の記事をもっと見る", articles_path(plaza_id: 1), class:"another-item" %>
</div>

<%= render "shared/footer" %>
