<%= render "shared/header" %>
<div class="post-bar">
  <div class="link-post-btn">
    <%= link_to '投稿する', new_article_path, class: "post-btn"%>
  </div>
  <div class="edit-bar">
    <% if current_user.id == @article.user_id %>
      <%= link_to "記事の編集", edit_article_path, class: "edit-btn" %>
      <%= link_to "記事の削除", article_path, method: :delete, class:"destroy-btn" %>
    <% end %>
  </div>
</div>

<%# 商品の概要 %>
<div class="show-containor">
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @article.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @article.image ,class:"item-box-img" %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= link_to @article.user.nickname, user_path(@article.user_id) %></td>
        </tr>
        <tr>
          <th class="detail-item">本文</th>
          <td class="detail-value"><%= @article.text %></td>
        </tr>
        <tr>
          <th class="detail-item">素材</th>
          <td class="detail-value"><%= @article.ingredients %></td>
        </tr>
        <tr>
          <th class="detail-item">コツ・ポイント</th>
          <td class="detail-value"><%= @article.trick %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
</div>
  <%# /商品の概要 %>


  <div class="comment-box">
    <h3 class="comments-title">
      コメント一覧
    </h3>
    <div class="comments-index">
      <%= render partial:"comments", locals: {comment: @comment} %>
    </div>
    <div class="form-box">
      <% if user_signed_in? %>
      <%= form_with model: [@article, @comment], local: true do |f| %>
        <% f.label :comment, 'コメントの送信' %>
        <%= f.text_field :comment, class:"comment-text" %>
        <%= f.submit "コメントする", class: "comment-btn" %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="link-boxes">
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <%= link_to "「#{@article.plaza.name}」 の記事をもっと見る", articles_path(plaza_id: 1), class:"another-item" %>
</div>

<%= render "shared/footer" %>
