<%= render "shared/header" %>
<div class='main'>
  <%= render "ko/news/news-side-bar" %>
  <div class="main-bar">
    <%= render partial: "ko/news/data", collection: @news, as: "news" %>
    <%# 投稿ボタンのリンク %>
    <%= link_to new_article_path, class: "click-post drop-shadow pc-btn" do %>
      <i class="fas fa-pencil-alt fa-3x post-icon"></i>
    <% end %>
    <%= link_to new_article_path, class: "click-post drop-shadow sp-btn" do %>
      <i class="fas fa-pencil-alt fa-2x post-icon"></i>
    <% end %>
    <%# /投稿ボタンのリンク %>
  </div>
</div>