
<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="notifications-box">
  <div class="icon-box">
    <div class="user-icon-box set-center">
      <%= link_to user_path(visitor) do %>
        <% if visitor.avatar.attached? %>
          <%= image_tag(visitor.avatar, size: "65x65", class: "user-icon set-center") %>
        <% else %>
          <%= image_tag("default_user.png", size: "65x65", class: "user-icon set-center") %> 
        <% end %>
      <% end %>
    </div>
    <div class="country-icon">
      <% if visitor.country_id == 1 %>
        <%= image_tag("country_japan.png", size: "25x25", class: "country-img") %>
      <% else %>
        <%= image_tag("country_korea.png", size: "25x25", class: "country-img") %> 
      <% end %>
    </div>
  </div>
  <div class="notification-text-box">
    <span class="partner-name">
      <%= link_to user_path(visitor) do %>
        <%= visitor.nickname %>
      <% end %>
     </span>
    さんが
    <% case notification.action 
      when 'follow' then %>
      <%= 'あなたをフォローしました' %>
      <div class= "notifications-info">
        <div class="concerned-item"></div>
        <div class="created-time">
          <%= time_ago_in_words(notification.created_at) + "前"%>
        </div>
      </div>
    <% when 'like' then %>
      <span class="partner-name"><%= link_to 'あなたの投稿', notification.article %></span>
      <%= 'にいいねしました' %>
      <div class= "notifications-info">
        <div class="concerned-item">
          <i class="fas fa-heart" style="color:red;"></i>
          <%= notification.article.title.truncate(14)%>
        </div>
        <div class="created-time">
          <%= time_ago_in_words(notification.created_at) + "前"%>
        </div>
      </div>
    <% when 'comment' then %>
      <% if notification.article.user_id == visited.id %>
        <span class="partner-name"><%= link_to "あなたの投稿", notification.article %></span>
      <% end %>
      <%= 'にコメントしました' %>
      <div class= "notifications-info">
        <div class="concerned-item">
          <i class="fas fa-comments" style="color:#44281e;"></i>
          <%= Comment.find_by(id: notification.comment_id)&.comment %>
        </div>
        <div class="created-time">
          <%= time_ago_in_words(notification.created_at) + "前"%>
        </div>
      </div>
    <% end %>
  </div>
</div>