<%= render "shared/header" %>
<div class="pc-size">
  <%= render "shared/post-bar" %>
</div>
<div class="main">
  <div class="pc-size">
    <%= render "shared/side-bar" %>
  </div>
  <% if I18n.locale.to_s == "ja"%>
    <div class="notifications-container">
      <div class="notifications-list">
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <% if notifications.exists? %>
          <%= render notifications %>
        <% else %>
          <p>通知はありません</p>
        <% end %>
        </div>
    </div>
  <% else %>
    <div class="notifications-container">
      <div class="notifications-list">
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <% if notifications.exists? %>
          <%= render partial:"ko/notifications/notification", collection: notifications, locals: {notification: notifications} %>
        <% else %>
          <p>알림이 없습니다</p>
        <% end %>
        </div>
    </div>
  <% end %>
</div>