<% if @user.followings.present? %>
  <% follow_users.each do |f|%>
    <% follow_user = User.find(f.id) %>
    <div class="partner-box">
      <%= link_to user_path(f.id), class: "room" do %>
        <div class="relation-user-img-box">
          <% if follow_user.avatar.attached? %>
            <%= image_tag(rails_blob_path(follow_user.avatar), size: "50x50", class: "img-circle") %>
          <% else %>
            <%= image_tag("default_user.png", size: "50x50", class: "img-circle") %>
          <% end %>
          <div class="coutry-icon">
            <% if follow_user.country_id == 1 %>
              <%= image_tag("country_japan.png", size: "20x20", class: "country-img") %>
            <% else %>
              <%= image_tag("country_korea.png", size: "20x20", class: "country-img") %> 
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="relationship-user-info">
        <div class="relationship-user-name">
          <%= link_to user_path(f.id) do%>
            <%= follow_user.nickname + "さん" %>
          <% end %>
        </div>
        <div class="relationship-user-intro">
          <% if follow_user.intro.present? %>
            <%= follow_user.intro.slice(1..9) + '…' %>
          <% else %>
            <%= '紹介文はありません' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= 'フォローしているユーザーはいません' %>
<% end %>