<% if current_user.followers.present? %>
  <% follower_users.each do |f|%>
    <% follower_user = User.find(f.id) %>
    <div class="partner-box">
      <%= link_to user_path(f.id), class: "room" do %>
        <div class="img-box">
          <% if follower_user.avatar.attached? %>
            <%= image_tag(rails_blob_path(follower_user.avatar), size: "35x35", class: "img-circle") %>
          <% else %>
            <%= image_tag("default_user.png", size: "35x35", class: "img-circle") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="follow-user-name">
      <%= follower_user.nickname + "さん" %>
    </div>
    <div class="follow-user-info">
      <%= follower_user.intro %>
    </div>
  <% end %>
<% else %>
  <%= 'フォロワーはいません' %>
<% end %>