<div class="side-bar">
  <div class="category-list", id="js-accordion-nav">
    <ul class="plaza-list"><span class="js-category-bar"><%= link_to "", class:"accordion-nav" do %><i class="fas fa-bars"></i></span><% end %>
      <p class="plaza-header">もっと見る</p>
      <li class="plaza-name", style="display: none;"><%= link_to "", class:"tab-nav-item is-active", data: {nav: "0"} do %><%= '投稿' %><% end %></li>
      <li class="plaza-name", style="display: none;"><%= link_to "", class:"tab-nav-item", data: {nav: "1"} do %><%= "フォロー" %><% end %></li>
      <li class="plaza-name", style="display: none;"><%= link_to "", class:"tab-nav-item", data: {nav: "2"} do %><%= "フォロワー" %><% end %></li>
      <li class="plaza-name", style="display: none;"><%= link_to "", class:"tab-nav-item", data: {nav: "3"} do %><%= "いいね" %><% end %></li>
    </ul>
  </div>
  <% if current_user.id == @user.id %>
    <div>
      <div>
        <p class="plaza-name pc-size"><%= link_to edit_user_registration_path(locale: I18n.locale, user_id: current_user.id) do %>プロフィールの編集 <i class="fas fa-edit"></i><% end %>
        <p class="plaza-name sp-size"><%= link_to edit_user_registration_path(locale: I18n.locale, user_id: current_user.id), data: { confirm: 'プロフィールを編集しますか？' } do %><i class="fas fa-edit"></i><% end %>
        <p class="plaza-name pc-size"><%= link_to destroy_user_session_path, method: :delete do %>ログアウト <i class="fas fa-sign-out-alt"></i><% end %>
        <p class="plaza-name sp-size"><%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } do %><i class="fas fa-sign-out-alt"></i><% end %>
      </div>
    </div>
  <% end %>
</div>
