<%= render "shared/header" %>
<%= render "shared/post-bar" %>
<%= render "shared/side-bar" %>
<div class="user-main-page">
  <div class="profile-box">
    <div class="cover-images">
      <% if @user.cover.attached? %>
        <%= image_tag(@user.cover, class: "cover-img") %>
      <% else %>
        <%= image_tag("dammy-cover.png", class: "cover-img") %> 
      <% end %>
    </div>
    <div class="profile-bar">
      <div class="pofile-image-name">
        <div class="icon-box">
          <div class="user-icon-box">
            <% if @user.avater.attached? %>
              <%= image_tag(@user.avater, size: "120x120", class: "user-icon") %>
            <% else %>
              <%= image_tag("default_user.png", size: "120x120", class: "user-icon") %> 
            <% end %>
          </div>
          <div class="coutry-icon">
            <% if @user.country_id == 1 %>
              <%= image_tag("country_japan.png", size: "35x35", class: "country-img") %>
            <% else %>
              <%= image_tag("country_korea.png", size: "35x35", class: "country-img") %> 
            <% end %>
          </div>
        </div>
        <div class="name-box">
          <div class="user-name">
            <%= @user.nickname %>
          </div>
          <div class="sub-profile">
            <div class="user-age">
              <%= "#{@user.age} 歳" %>
            </div>
            <div class="user-registration-day">
              <%= "登録日：" + time_ago_in_words(@user.created_at) + "前" %>
            </div>
          </div>
          <% if current_user.id == @user.id %>
            <div class="edit-profile-icon">
              <%= link_to 'プロフィールを編集する', edit_user_registration_path(current_user.id) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="intro-box">
        <div class="intro-title">
          自己紹介
        </div>
        <div class="intro-text">
          <% if @user.intro.present? %>
            <%= @user.intro %>
          <% else %>
            自己紹介を追加しましょう！
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="articles-box">
    <div class="user-articles">
    <%= render partial: "articles/article", collection: @articles %>
    </div>
  </div>
</div>
