<%= render "shared/header" %>
<%= render "shared/post-bar" %>
<%= render "shared/side-bar" %>
<div class="user-main-page">
  <div class="profile-images">
    <% if @user.cover.attached? %>
      <%= image_tag(@user.cover, class: "cover-img") %>
    <% else %>
      <%= image_tag("dammy-cover.png", class: "cover-img") %> 
    <% end %>
  </div>
  <div class="profile-bar">
    <% if @user.avater.attached? %>
      <%= image_tag(@user.avater, size: "120x120", class: "user-icon") %>
    <% else %>
      <%= image_tag("default_user.png", size: "120x120", class: "user-icon") %> 
    <% end %>
    <p class="edit-profile-icon"><%= link_to 'プロフィールを編集する', edit_user_path %></p>
  </div>
  <div class="profile-info">
    <div class="user-articles">
    <%= render partial: "articles/article", collection: @articles %>
    </div>
  </div>
</div>