<% if I18n.locale.to_s == "ja"%>
  <%= render "shared/second-header"%>
  <%= form_with model: @user, url: user_password_path, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h4 class='form-header-text'>
        パスワード再設定
      </h4>
    </div>

    <%# エラーメッセージの出力 %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス<span class="indispensable">必須</span></label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"登録済みのメールアドレスを入力してください", autofocus: true %>
    </div>
    <div class="form-group">
      <h4 class='form-bottom-text'>
        入力されたメールアドレスにパスワード再設定メールを送信します
      </h4>
    </div>
    <div class='register-btn'>
      <%= f.submit "送信" ,class:"register-red-btn" %>
    </div>
  </div>
  <% end %>
<% else %>
  <%= render "ko/devise/passwords/new" %>
<% end %>