<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
  <%= link_to image_tag("furima-logo-color.png", class:"kch-icon"), root_path %>
    <ul class='lists-left'>
      <li class='input-box'><%= search_form_for(@search, url: articles_path, class: "search-form") do |f| %>
            <%= f.search_field :title_or_user_nickname_cont_all, placeholder: 'キーワードから探す', class:'input-box' %>
            <div class="search-button">
                <i class="fas fa-search" style=" color: #fff"></i>
            </div>
          <% end %>
      </li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li class="header-icons"><%= link_to rooms_path do %>
          <i class="fas fa-envelope fa-2x" style="color: #44281e"></i>
          <% end %></li>
        <li class="header-icons"><%= link_to notifications_path do %>
              <i class="fas fa-bell fa-2x" style="color: #44281e" id="notifications"></i>
            <% end %></li>
        <li class="header-icons"><%= link_to user_path(current_user), class: "user-nickname"  do%>
              マイページ <i class="fas fa-home"></i>
            <% end %></li>
      <% else %>
      <li><%= link_to new_user_session_path, class: "login" do %>
          ログイン <i class="fas fa-sign-in-alt" ></i>
        <% end %></li>
      <li><%= link_to new_user_registration_path, class: "sign-up" do %>
          新規登録 <i class="fas fa-user-plus"></i>
          <% end %></li>
      <% end %>
    </ul>
  </div>
</header>