<div class="main" style="height: 100vh; background-color: #d0bfc7;">
  <div class="img-container">
    <div class="title-container">
      <div class="app-title">
        <p>Kchannel<p>
      </div>
      <div class="sub-title">
        <h4 class='service-title'>あなたとワタシを繋ぐ場所</h4>
      </div>
      <div class="top-img-box">
        <%= image_tag("top-icon.png", class: "item-img") %> 
      </div>
    </div>
  </div>
  <div class="info-container">
    <div class="login-container">
      <div class="login-box">
        <div class="send-btn">
          <%= link_to new_user_session_path, class:"login drop-shadow", style:"margin-right: 0;" do %>
            ログイン <i class="fas fa-sign-in-alt" ></i>
          <% end %>
        </div>
      </div>
      <div class="login-box">
        <div class="send-btn">
          <%= link_to new_user_registration_path, class:"sign-up drop-shadow" do %>
            新規登録 <i class="fas fa-user-plus"></i>
          <% end %>
        </div>
      </div>
      <div class="login-box">
        <div class="send-btn">
           <%= link_to users_guest_sign_in_path, method: :post, class:"login drop-shadow", style:"margin-right: 0;" do %>
            ゲストログイン（閲覧用） <i class="fas fa-sign-in-alt" ></i>
          <% end %>
        </div>
      </div>
      <div class='store-btn'>
        <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"app-link-btn"), "#" %>
        <%= link_to image_tag("dl-android.png", class:"app-link-btn"), "#" %>
      </div>
    </div>
  </div>
</div>