<div class="side-bar">
  <div class="category-list", id="js-accordion-nav">
    <ul class="plaza-list"><span class="js-category-bar"><%= link_to "", class:"accordion-nav" do %><i class="fas fa-bars"></i></span><% end %>
      <p class="plaza-header"><%= link_to '日本のニュース', news_index_path(country: "jp", category: "general") %></p>
      <li class="plaza-name", style="display: none;"><%= link_to 'ビジネス', news_index_path(country: "jp", category: "business") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to 'エンタメ', news_index_path(country: "jp", category: "entertainment") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to 'ヘルスケア', news_index_path(country: "jp", category: "health") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to '科学', news_index_path(country: "jp", category: "science") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to 'スポーツ', news_index_path(country: "jp", category: "sports") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to 'テクノロジー', news_index_path(country: "jp", category: "technology") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to '全て', news_index_path(country: "jp", category: "general") %></li>
    </ul>
  </div>
  <div class="category-list", id="js-accordion-nav">
    <ul class="plaza-list"><span class="js-category-bar"><%= link_to "", class:"accordion-nav" do %><i class="fas fa-bars"></i></span><% end %>
      <p class="plaza-header"><%= link_to '韓国のニュース', news_index_path(country: "kr", category: "general") %></p>
      <li class="plaza-name", style="display: none;"><%= link_to 'ビジネス', news_index_path(country: "kr", category: "business") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to 'エンタメ', news_index_path(country: "kr", category: "entertainment") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to 'ヘルスケア', news_index_path(country: "kr", category: "health") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to '科学', news_index_path(country: "kr", category: "science") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to 'スポーツ', news_index_path(country: "kr", category: "sports") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to 'テクノロジー', news_index_path(country: "kr", category: "technology") %></li>
      <li class="plaza-name", style="display: none;"><%= link_to '全て', news_index_path(country: "kr", category: "general") %></li>
    </ul>
  </div>
</div>