<%= render "shared/second-header"%>
<%= form_with model: @user, url: user_password_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h4 class='form-header-text'>
      비밀번호 재설정
    </h4>
  </div>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">메일 주소<span class="indispensable">필수</span></label>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"등록을 마친 메일 주소를 입력해 주세요", autofocus: true %>
  </div>
  <div class="form-group">
    <h4 class='form-bottom-text'>
      입력된 메일 주소에 패스워드 재설정 메일을 송신합니다
    </h4>
  </div>
  <div class='register-btn'>
    <%= f.submit "전송" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>
