<div class="room-container">

  <div class="room-header">
    <div class="header-message">
      <h4 style="font-weight: bold; color: #44281e;">メッセージ一覧</h4>
    </div>
  </div>
  <% @rooms.each do |room| %>
    <% user = find_partner_info(room, current_user) %>
    <div class="message-partner-box">
      <%= link_to room_path(room), class: "room" do %>
        <div class="img-box">
          <div class="avatar-img">
            <% if user.avatar.attached? %>
              <%= image_tag(rails_blob_path(user.avatar), size: "50x50", class: "img-circle") %>
            <% else %>
              <%= image_tag("default_user.png", size: "50x50", class: "img-circle") %>
            <% end %>
            <div class="country-icon">
              <% if user.country_id == 1 %>
                <%= image_tag("country_japan.png", size: "20x20", class: "country-img") %>
              <% else %>
                <%= image_tag("country_korea.png", size: "20x20", class: "country-img") %> 
              <% end %>
            </div>
          </div>
        </div>
        <div class="partner-info">
          <div class="partner-name">
            <%= user.nickname %>
          </div>
          <% if room.messages.present? %>
            <div class="partner-details">
              <div class="latest-message">
                <%= most_new_message_preview(room) %>
              </div>
              <div class="created-time">
                <%= message_time(room) + '前'%>
              </div>
            </div> 
          <% else %>
            <div class="partner-details">
              <div class="latest-message">
                <p><%= "トークがありません" %></p>
              </div>
            </div> 
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="left-button">
    <%= link_to root_path do %>
      トップページに戻る <i class="fas fa-home"></i>
    <% end %>
  </div>
</div>