<%= render "shared/header" %>
<%= render "shared/post-bar" %>
<div class='main'>
  <%= render "shared/side-bar" %>
  <div class="main-bar">
    <%= render "rooms" %>
    <div class="chats">
      <div class="chat">
        <div class="msg_history pt-2" id="js-msg-history">
          <div id= "js-messages">
            <% if @messages.present? %>
              <% @messages.each do |m| %>
                <% if m.user.id == current_user.id %> <%# 自分にプロフィールアイコンは表示しない %>
                  <div class="outgoing-msg" >
                    <div class="sent-msg">
                      <div class="msg-content">
                        <%= m.message %>
                      </div>
                      <div class="created-time">
                        <%= time_ago_in_words(m.created_at) %>前
                      </div>
                    </div>
                  </div>
                <% else %> <%# トーク相手はプロフィール画像を表示 %>
                  <div class="incoming-msg">
                    <div class="img-box"> 
                      <div class="avatar-img">
                        <%= link_to user_path(m.user.id) do %>
                          <% if m.user.avatar.attached? %>
                            <%= image_tag(rails_blob_path(m.user.avatar), size: "50x50", class: "img-circle") %>
                          <% else %>
                            <%= image_tag("default_user.png", size: "50x50", class: "img-circle") %>
                          <% end %>
                          <div class="country-icon">
                            <% if m.user.country_id == 1 %>
                              <%= image_tag("country_japan.png", size: "20x20", class: "country-img") %>
                            <% else %>
                              <%= image_tag("country_korea.png", size: "20x20", class: "country-img") %> 
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="partner-info">
                      <div class="partner-name">
                        <%= m.user.nickname %>
                      </div>
                      <div class="received-msg">
                        <div class="received_withd_msg">
                          <%= m.message %>
                        </div>
                        <div class="created-time">
                          <%= time_ago_in_words(m.created_at) %>前
                        </div>
                      </div> 
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <%= 'メッセージはありません' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="posts">
        <%= form_with model: @message, id:"js-dm-form" do |f| %>
          <%= f.text_field :message, placeholder: "メッセージを入力して下さい", id: "js-input-msg", size: 70, class:"form-text-field" %>
          <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.button type: "submit", class:"mini-send-btn", style:'border-style: none;' do %> 
            送信 <i class="fas fa-paper-plane"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>