<% if I18n.locale.to_s == "ja"%>
  <%= render "shared/header" %>
  <div class="flash-notifications">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: key) %>
    <% end %>
  </div>
  <div class='main'>
    <div class="room-main">
      <div class="pc-size">
        <%= render "rooms" %>
      </div>
      <div class="chats">
        <div class="partner-name">
          <%= @user.nickname %>
        </div>
        <div class="chat">
          <div class="msg_history pt-2" id="js-msg-history">
            <div id= "js-messages">
              <% if @messages.present? %>
                <% @messages.each do |m| %>
                  <% if m.user.id == current_user.id %> <%# 自分にプロフィールアイコンは表示しない %>
                    <div class="outgoing-msg" >
                      <div class="sent-msg">
                        <div class="msg-content">
                          <% if m.target_message.present? %>
                            <p>× <span><%= m.target_message %></span></p>
                            ○
                          <% end %>
                            <%= m.message %>
                        </div>
                        <div class="created-time">
                          <%= time_ago_in_words(m.created_at) %>前
                          <%= link_to message_path(m.id), method: :delete, data: { confirm: '取り消しますか？' } do %>
                            <i class="far fa-trash-alt between-space" ></i>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% else %> <%# トーク相手はプロフィール画像を表示 %>
                    <div class="incoming-msg">
                      <div class="img-box"> 
                        <div class="avatar-img">
                          <%= link_to user_path(m.user.id) do %>
                            <% if m.user.avatar.attached? %>
                              <%= image_tag(rails_blob_path(m.user.avatar), size: "50x50", class: "img-circle", id:"js-user-icon") %>
                            <% else %>
                              <%= image_tag("default_user.png", size: "50x50", class: "img-circle", id:"js-default-icon") %>
                            <% end %>
                            <div class="country-icon">
                              <% if m.user.country_id == 1 %>
                                <%= image_tag("country_japan.png", size: "20x20", class: "country-img", id:"js-japan-icon") %>
                              <% else %>
                                <%= image_tag("country_korea.png", size: "20x20", class: "country-img", id:"js-korea-icon") %> 
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                        <div class="received-msg">
                          <div class="received_withd_msg">
                            <% if m.target_message.present? %>
                              <p>× <span><%= m.target_message %></span></p>
                              ○
                            <% end %>
                            <%= m.message %>
                          </div>
                          <div class="created-time">
                            <%= time_ago_in_words(m.created_at) %>前
                            <%= link_to correction_message_path(m.id) do %>
                              <i class="fas fa-spell-check between-space" style="color: #ea352d"></i>
                            <% end %>
                          </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <%= 'メッセージはありません' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="posts">
          <%= form_with model: @message do |f| %>
            <%= f.text_area :message, placeholder: "メッセージを入力して下さい", id: "js-input-msg", size: 70, class:"form-text-field" %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.button type: "submit", class:"mini-send-btn", style:'border-style: none;' do %> 
              送信 <i class="fas fa-paper-plane"></i>
            <% end %>
          <% end %>
          <div> <input type="hidden" id="current_user", value = <%= current_user.id %>> </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render "ko/rooms/show" %>
<% end %>
